<mat-card>
    <mat-card-title>
      ngIf
    </mat-card-title>
    <mat-card-content>
      <section>
          <p>Select the fields you need:</p>
          <section>
              <mat-checkbox name="showName" [(ngModel)]="showName">Name</mat-checkbox>
              <mat-checkbox name="showAddress" [(ngModel)]="showAddress">Address</mat-checkbox>
              <mat-checkbox name="showPhone" [(ngModel)]="showPhone">Phone</mat-checkbox>
              <mat-checkbox name="showAge"  [(ngModel)]="showAge">Age</mat-checkbox>
          </section>
      </section>
      <br>
      <section>
          <mat-form-field *ngIf="showName">
              <input matInput placeholder="Name">
          </mat-form-field>
          <mat-form-field *ngIf="showAddress">
              <input matInput placeholder="Address">
          </mat-form-field>
          <mat-form-field *ngIf="showPhone">
              <input matInput placeholder="Phone">
          </mat-form-field>
          <mat-form-field *ngIf="showAge">
              <input matInput placeholder="Age" type="number">
          </mat-form-field>                        
      </section>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>   
  </mat-card>
  