.my-class1{
    color: red;
    background-color: #e6e6e6;
    max-width: fit-content;
    padding: 8px;
    border-radius: 3px;
}
.my-class2{
    color: green;
    background-color: #e6e6e6;
    max-width: fit-content;
    padding: 8px;
    border-radius: 3px;
}
.my-class3{
    color: yellow;
    background-color: #e6e6e6;
    max-width: fit-content;
    padding: 8px;
    border-radius: 3px;
}
.my-class4{
    color: blue;
    background-color: #e6e6e6;
    max-width: fit-content;
    padding: 8px;
    border-radius: 3px;
}